body{
  background-image: url(https://iambidextrous.files.wordpress.com/2012/03/dsc034011.jpg);
}
h1{
  text-align: center;
  color: #802A2A;
  font-size: 75px;
  padding-top: 50px;
}
h2{
  text-align: center;
  font-size: 48px;
  color: #CD5C5C;
  font-weight: lighter;
}
